@use 'sass:math';

@import '../vars/vars.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  //font-family: Montserrat;
  color: $color-font;
}

// .header-a {
//   width: 100%;
//   height: 20vh;
//   border: 2px solid orange;
// }

@mixin header {
  margin: 0 auto;
  width: 100%;
  height: $header-height;
  @include flex-vertical();
  justify-content: space-between;
  .header-top {
    margin: 0 auto;
    width: 100%;
    height: $header-top-height;
    @include flex-horizontal();
    justify-content: space-between;
    .logo-box {
      margin: auto;
      width: fit-content; // 20%;
      height: 80%;
      @include flex-vertical();
      align-items: start;
      //border: 1px solid red;
      .logo {
        margin: 0 auto;
        width: auto;
        height: 100%;
        //border: 1px solid green;
      }
    }
    .menu-box {
      margin: auto;
      width: 60%;
      height: 70%;
      @include flex-vertical();
      @media only screen and (max-width: 1023px) {
        display: none;
      }
      //border: 1px solid red;
      &__block {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @include flex-horizontal();
        .menu-item {
          margin: auto;
          width: fit-content;
          text-decoration: none;
          @include text-font(16px, 500, 16px, 0%);
          color: $color-down;
        }
        .menu-item:hover {
          color: $color-hover-accent;
        }
      }
    }
    .menu-mini-box {
      margin: auto;
      //width: auto;
      max-width: 50vw;
      height: auto;
      @include flex-vertical();
      position: relative;
      @media only screen and (min-width: 1024px) {
        display: none;
      }
      .menu-mini-button {
        width: fit-content;
        height: 70%;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .menu-mini {
        margin: 0 auto;
        padding: 10px;
        width: 50vw; // fit-content;
        min-height: $header-height * 1.5;
        position: absolute;
        top: $header-top-height * 0.8;
        left: -10vw; // -5px;
        float: left;
        @include flex-vertical();
        display: none;
        justify-content: space-between;
        background-color: rgba($color: $color-prime, $alpha: 0.9);
        z-index: 99;
        .menu-mini-close {
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          .close-button {
            width: fit-content;
            @include text-font(16px, 500, 16px, 0%);
            color: $color-accent;
            text-align: right;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
        .menu-item {
          margin: 0;
          width: fit-content;
          text-decoration: none;
          @include text-font(16px, 500, 16px, 0%);
          color: white;
        }
        .menu-item:hover {
          color: $color-hover-accent;
        }
      }
      .menu-mini-box:hover .menu-mini {
        display: flex;
      }
    }
    .services-box {
      margin: auto;
      width: fit-content; // 20%;
      height: 70%;
      @include flex-vertical();
      //border: 1px solid red;
      &__block {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @include flex-horizontal();
        justify-content: flex-end;
        .search-box,
        .user-box,
        .cart-box {
          margin: auto 0;
          margin-left: 2%;
          width: auto;
          height: 100%;
          @include flex-vertical();
          .service-button {
            margin: auto;
            height: 100%;
            background: none;
            border: 1px solid white;
            outline: none;
            @include flex-vertical();
            cursor: pointer;
            transition: all 0.8s ease;
            img {
              margin: auto;
              width: auto;
              height: fit-content;
              padding: 5px;
            }
          }
          .service-button:focus {
            border: 1px solid $color-prime;
            border-radius: 5px;
            box-sizing: border-box;
          }
          .btn-modal {
            width: 50px;
            padding: 5px;
            color: black;
            text-decoration: none;
            background-color: aqua;
            cursor: pointer;
            transition: all 0.5s ease;
          }
          .btn-modal:hover {
            background-color: blueviolet;
          }
        }
      }
    }
  }
  .header-bottom {
    margin: 0 auto;
    width: 100%;
    height: $header-top-height;
    @include flex-vertical();
    background-color: $color-prime;
    .search-input-box {
      margin: 0 auto;
      //margin-left: 2%;
      width: 60%;
      height: 70%;
      @media only screen and (max-width: 1023px) {
        width: 80%;
      }
      @include flex-horizontal();
      display: none;
      //border: 1px solid red;
      .search-input {
        padding-left: 10px;
        width: 90%;
        height: 100%;
        @media only screen and (max-width: 1023px) {
          width: 80%;
        }
        border: none; // 1px solid $color-prime-dark;
        outline: $color-down-dark;
        @include text-font(14px, 400, 14px, 0%);
        color: $color-font;
      }
      .search-input::placeholder {
        @include text-font(14px, 400, 14px, 0%);
        color: $color-down-light;
      }
      .search-button {
        width: 5%;
        height: 100%;
        @media only screen and (max-width: 1023px) {
          width: 10%;
        }
        border: none;
        outline: none;
        background-color: $color-prime-dark;
        @include text-font(16px, 400, 16px, 0%);
        color: white;
      }
      .search-close {
        width: 5%;
        height: 100%;
        @media only screen and (max-width: 1023px) {
          width: 10%;
        }
        border: none;
        outline: none;
        background-color: $color-prime-dark;
        @include text-font(16px, 400, 16px, 0%);
        color: $color-accent;
      }
    }
  }
}

.header {
  @include header();
}
