.modal {
  width: 600px;
  height: 400px;
  position: fixed; // absolute;
  top: 20vh; // 0; // 100px;
  //left: 0; // calc(50% - 300px);
  right: 0;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  overflow: auto;
  //transform: translateX(-50%) translateY(-50%);
  //transition: all 0.5s;
  // .modal:target {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   right: 0;
  // }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .products-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cart-total {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // background-color: yellowgreen;
    .total-info {
      font-size: 18px;
      font-weight: 500;
      color: blue;
    }
  }
}
// .modal:target {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   right: 0;
// }
